.feature-title {
     margin-top: 4rem;

     & h2 {
         font-size: 2rem;
         color: #2D2E83;
         text-align: center;


         & span {
             color: #36A9E1;
         }
     }


 }

//  @media screen and (max-width: 1230px) {
    
//  }

//    @media screen and (max-width: 680px) {}

//         @media screen and (max-width: 450px) {}


        @media screen and (max-width: 991px) {
            .feature-title {
                    margin-top: 4rem;
                    // width: 60%;
            
                    & h2 {
                        font-size: 2rem;
                        color: #2D2E83;
                        text-align: center;
            
            
                        & span {
                            color: #36A9E1;
                        }
                    }
            
            
                }
 }



        @media screen and (max-width: 480px) {
            .feature-title {
                    margin-top: 4rem;
                    width: 100%;
            
                    & h2 {
                        font-size: 2rem;
                        color: #2D2E83;
                        text-align: center;
            
            
                        & span {
                            color: #36A9E1;
                        }
                    }
            
            
                }
        }